h1 {
  text-align: center;
  margin-top: 24px;
}

.container {
  max-width: 90vw;
  margin: 0 auto;
  padding-bottom: 24px;
}

.view-selector {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 24px;
}

.paginator {
  margin-bottom: 24px;
}

.error {
  background-color: #ffd740;
  border: 1px solid black;
  border-radius: 5px;
  width: 90vw;
  margin: 24px auto 0 auto;
}
